In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movies/movies_data.csv

In [2]:
import sqlite3
import pandas as pd

# Load the CSV file
df = pd.read_csv("/kaggle/input/movies/movies_data.csv")

# Display first few rows
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
1,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
2,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
3,...Yahaan,2005,142,"Drama, Romance, War",7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
4,?: A Question Mark,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [3]:
# Create a connection to a new SQLite database file
conn = sqlite3.connect('movies.db')

# Write the dataframe to a SQL table named 'movies'
df.to_sql('movies', conn, if_exists='replace', index=False)

# Verify table creation
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

     name
0  movies

In [4]:
pd.read_sql_query("SELECT * FROM movies LIMIT 5;", conn)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
1,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
2,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
3,...Yahaan,2005,142,"Drama, Romance, War",7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
4,?: A Question Mark,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [5]:
pd.read_sql_query("SELECT name,genre FROM movies;", conn) #list of films titles genres

                                    Name                      Genre
0     #Gadhvi (He thought he was Gandhi)                      Drama
1                                #Yaaram            Comedy, Romance
2                   ...Aur Pyaar Ho Gaya     Comedy, Drama, Musical
3                              ...Yahaan        Drama, Romance, War
4                     ?: A Question Mark  Horror, Mystery, Thriller
...                                  ...                        ...
5654                              Zubaan                      Drama
5655                            Zubeidaa  Biography, Drama, History
5656                     Zulm Ki Zanjeer       Action, Crime, Drama
5657                               Zulmi              Action, Drama
5658                        Zulm-O-Sitam              Action, Drama

[5659 rows x 2 columns]

In [6]:
pd.read_sql_query("""
SELECT name,rating
FROM movies
ORDER BY rating DESC
LIMIT 5;
""", conn) #top5 films based on ratings

                  Name  Rating
0      Love Qubool Hai    10.0
1           Half Songs     9.7
2         Gho Gho Rani     9.4
3                 June     9.4
4  The Reluctant Crime     9.4

In [7]:
pd.read_sql_query("""
SELECT genre,ROUND(AVG(rating), 2) AS avg_rating
FROM movies
GROUP BY genre
ORDER BY avg_rating DESC;
""", conn) #average rated films list

                            Genre  avg_rating
0                History, Romance         9.4
1    Documentary, Family, History         9.3
2              Documentary, Music         8.9
3           Documentary, Thriller         8.7
4              Documentary, Sport         8.6
..                            ...         ...
371       Action, Fantasy, Sci-Fi         2.7
372         Action, Crime, Sci-Fi         2.7
373        Family, Music, Romance         2.6
374        Comedy, Family, Sci-Fi         2.4
375        Action, Comedy, Horror         2.4

[376 rows x 2 columns]

In [8]:
pd.read_sql_query("""
SELECT genre,COUNT(*) AS total_movies
FROM movies
GROUP BY genre
ORDER BY total_movies DESC;
""", conn) #films count genres wise

                            Genre  total_movies
0                           Drama           844
1                  Drama, Romance           332
2            Action, Crime, Drama           329
3                   Action, Drama           206
4                   Comedy, Drama           205
..                            ...           ...
371        Action, Comedy, Horror             1
372    Action, Adventure, Mystery             1
373     Action, Adventure, Horror             1
374    Action, Adventure, History             1
375  Action, Adventure, Biography             1

[376 rows x 2 columns]

In [9]:
pd.read_sql_query("""
SELECT name,year,rating
FROM movies
WHERE year > 2015
ORDER BY year;
""", conn) #films rel after 2015

                        Name  Year  Rating
0       1:13:7 Ek Tera Saath  2016     5.9
1                1920 London  2016     4.1
2                  417 Miles  2016     4.8
3              7 Hours to Go  2016     5.7
4     A Billion Colour Story  2016     8.1
...                      ...   ...     ...
1011    Tuesdays and Fridays  2021     4.5
1012              VanRakshak  2021     8.2
1013                  Viraat  2021     8.9
1014       Writing with Fire  2021     8.1
1015    Yug the law of karma  2021     7.7

[1016 rows x 3 columns]

In [10]:
conn.close()